llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
chromadb
pydantic
streamlit
streamlit-chromadb-connection
torch
datasets
accelerate
llama-index-finetuning
llama-index-retrievers-bm25
PyStemmer
llama-index-postprocessor-cohere-rerank
cohere
pandas
openai